#container { 
  height: 20vh;
  width: 20vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10vw;
  margin-top: -40vh;
  text-align: center;
}

* { 
  box-sizing: border-box;
  
}

#break-length, #session-length, #time-left { 
  font-size: 48px;
}

#session-increment, #session-decrement, 
#break-increment, #break-decrement,
#start_stop, #reset {
  margin: 1em 1em;
}